* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #d6d6f1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.profile {
  position: absolute;
  top: 5%;
  right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#title {
  display: block;
  color: rgb(78, 78, 223);
  font-size: 50px;
}
#profilePicture {
  border: 2px rgb(100, 23, 201) solid;
  width: 100%;
  height: 75%;
  border-radius: 50%;
}
#slogan {
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.action {
  position: absolute;
  display: flex;
  left: 92%;
  top: 90%;
}
#submitButton {
  font-size: 17px;
  width: 75px;
  height: 25px;
  border-radius: 10px;
  background-color: rgb(129, 129, 231);
}

#submitButton:hover {
  background-color: rgb(113, 113, 113);
  transition: 300ms;
}
.backgound {
  display: flex;
  gap: 50px;
}
#background1 {
  position: relative;
  width: 44%;
  mask-image: linear-gradient(to left, transparent, black);
}
